{:target :nodejs
 :main pnix.cljs-meta.stage-runtime
 :cache-analysis-format :edn
 :optimizations :simple
 :output-to "dist/cljs-meta-stage-runtime.js"
 :output-dir "target/cljs-meta-stage-runtime"
 :source-map false}
