[{:source-id :literal/int-42
  :source "42"
  :oracle-result {:status :ok :value 42}}
 {:source-id :literal/bool-true
  :source "true"
  :oracle-result {:status :ok :value true}}
 {:source-id :literal/bool-false
  :source "false"
  :oracle-result {:status :ok :value false}}
 {:source-id :literal/null
  :source "null"
  :oracle-result {:status :ok :value nil}}
 {:source-id :literal/string
  :source "\"pnix\""
  :oracle-result {:status :ok :value "pnix"}}
 {:source-id :literal/list-basic
  :source "[ 1 true \"x\" ]"
  :oracle-result {:status :ok :value [1 true "x"]}}
 {:source-id :literal/attrset-basic
  :source "{ x = 1; y = \"z\"; flag = false; }"
  :oracle-result {:status :ok :value {"x" 1
                                      "y" "z"
                                      "flag" false}}}]
